<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/layout :: head(#{orders.production.title})"></head>

<div th:replace="fragments/layout :: navbar"></div>

<h3 th:text="#{orders.production.title}"></h3>


<body>


<div th:if="${not productionOrdersPaginated.hasContent()}" th:text="#{products.list.emptyMessage}"></div>

<div th:with="urlRootPath=${#httpServletRequest.requestURI}">

	<div th:if="${productionOrdersPaginated.hasContent()}">
		<!--		-->
		<span th:text="#{orders.production.list.total(${productionOrdersPaginated.totalElements})}"></span>

	</div>



<!--table-->

<table class="table">
	<thead>
	<tr>
		<th scope="col" style="width: auto" th:text="#{orders.production.name}"></th>
		<th scope="col" style="width: 15%" th:text="#{orders.production.product}"></th>
		<th scope="col" style="width: 15%" th:text="#{orders.production.quantity}"></th>
		<th scope="col" style="width: 15%" th:text="#{orders.production.status}"></th>
		<th scope="col" style="width: 10%"></th>

	</tr>
	</thead>

	<tbody>
	<tr th:each="order: ${productionOrdersPaginated}">
		<td th:text="${order.name}">Mark</td>
		<td th:text="${order.getProductName()}"></td>
		<td th:text="${order.quantity}"></td>
		<td th:text="${order.getOrder_status()}"></td>
		<td>
			<div>
				<div class="d-flex justify-content-between" th:if="${order.order_status != 'Finished' && order.order_status != 'In Progress'}">


						<input type="hidden" name="productionOrderDtoName" th:value="${order.name}">
					<a th:href="@{/orders/production_order/{orderName}/update(orderName=${order.name})}">
						<button class="btn btn-primary" th:text="#{orders.edit}">
						</button>
					</a>

					<form method="POST" th:action="@{/orders/production/delete}">
						<input type="hidden" name="productionOrderDtoName" th:value="${order.name}">
						<button class="btn btn-danger" th:text="#{orders.delete}">
						</button>
					</form>
				</div>
			</div>
		</td>
	</tr>
	</tbody>
</table>

<!--pagination slider-->
<nav class="d-flex justify-content-center">
	<ul class="pagination"
	    th:with="
                orderParam=${productionOrdersPaginated.sort.iterator().hasNext() ? productionOrdersPaginated.sort.iterator().next : null}">
		<li class="page-item"
		    th:classappend="${!productionOrdersPaginated.hasPrevious()} ? 'disabled'"
		>
			<a class="page-link"
			   th:href="@{*{urlRootPath}(page=${productionOrdersPaginated.number} - 1)}"
			   th:text="#{products.previous}"
			></a>
		</li>
		<li class="page-item"
		    th:each="pageNumber: ${#numbers.sequence(0, productionOrdersPaginated.totalPages - 1)}"
		    th:classappend="${pageNumber == productionOrdersPaginated.number ? 'active' : ''}"
		>
			<a class="page-link"
			   th:href="@{*{urlRootPath}(page=${pageNumber})}"
			   th:text="${pageNumber + 1}"></a>
		</li>
		<li class="page-item"
		    th:classappend="${!productionOrdersPaginated.hasNext()} ? 'disabled'">
			<a class="page-link"
			   th:href="@{*{urlRootPath}(page=${productionOrdersPaginated.number} + 1)}"
			   th:text="#{products.next}"
			></a>
		</li>
	</ul>
</nav>


</div>
</body>