<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/layout :: head(#{product.create.title})"></head>



<body>
<div th:replace="fragments/layout :: navbar"></div>
<h3 th:text="#{product.create.title}"></h3>
<form method="post" th:object="${productDto}">

	<label th:text="#{product.create.name}"></label>
	<input class="form-control" type="text" th:placeholder="#{product.create.write.name}" th:field="*{name}"><br/>

	<label th:text="#{product.create.quantity}"></label>
	<input class="form-control" type="number" th:placeholder="#{product.create.write.quantity}" th:field="*{quantity}"><br/>

	<label th:text="#{product.create.price}"></label>
	<input class="form-control" type="text" th:placeholder="#{product.create.write.price}" th:field="*{price}"><br/>



	<label th:text="#{product.select.productCategory}"></label>
	<div th:field="*{productCategoryDto}">
	<select class="form-select" aria-label="Default select example" th:object="${categoryDto}" th:field="*{name}">
		<option th:each="productCategory : ${productCategoryList}" th:value="${productCategory.name}" th:text="${productCategory.name}"></option>
	</select>
	</div>



	<label th:text="#{product.select.operationStation}"></label>

	<select class="form-select" aria-label="Default select example" th:field="*{operationStationDto}"  >
		<option th:object="${operationStationDto}"  th:field="*{name}" th:each="operationStation : ${operationStationsList}" th:value="${operationStation.name}" th:text="${operationStation.name}" ></option>
	</select>



	<label th:text="#{product.select.productStatus}"></label>
	<div th:field="*{productStatusDto}">
	<select class="form-select" aria-label="Default select example" th:object="${productStatusDto}" th:field="*{name}" >
		<option th:each="productStatus : ${productStatusList}" th:value="${productStatus.name}" th:text="${productStatus.name}"></option>
	</select>
	</div>



	<label th:text="#{product.create.description}"></label>
	<textarea class="form-control" type="text" th:placeholder="#{product.create.write.description}" th:field="*{description}"> </textarea><br/>
	<button class="btn btn-primary" type="submit" th:text="#{product.create.button.add}"></button>

</form>



</body>
