<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="fragments/layout :: head(#{home.title})"></head>

<div th:replace="fragments/layout :: navbar"></div>

<h3 th:text="#{products.list.title}"></h3>

<body>
<div th:if="${not productListPaginated.hasContent()}" th:text="#{products.list.emptyMessage}"></div>

<div th:with="urlRootPath=${#httpServletRequest.requestURI}">

	<div th:if="${productListPaginated.hasContent()}">
		<!--		-->
		<span th:text="#{products.list.total(${productListPaginated.totalElements})}"></span>

	</div>
	<div class="row row-cols-1 row-cols-md-3 g-4">


		<div class="col" th:each="product: ${productListPaginated}">
			<div class="card" style="width: 18rem;">
				<div type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
					<img th:src="@{/images/hederio_img.png}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title" th:text="${product.name}">Card title</h5>
						<p class="card-text" th:text="${product.description}"></p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" th:text="${product.price}"></li>
						<li class="list-group-item" th:text="${product.quantity}"></li>
						<li class="list-group-item" th:text="${product.productStatusName}"></li>
					</ul>
				</div>
				<div class="card-body">
					<div class="mb-1" sec:authorize="hasRole('ADMIN')" >
						<input type="hidden" name="productId" th:value="${product.productId}">
						<a th:href="@{/product/{productId}/update(productId=${product.productId})}">
							<button class="btn btn-warning" th:text="#{products.edit}">
							</button>
						</a>
					</div>

					<div sec:authorize="hasRole('ADMIN')">

						<form method="POST" th:if="${!orderedProducts.contains(product.productId)}" th:action="@{/products/delete}">
							<input type="hidden" name="productId" th:value="${product.productId}">
							<button class="btn btn-danger" th:text="#{products.delete}">
							</button>
						</form>


					<div th:if="${product.productStatusName == 'Available'}">
						<form method="POST" th:action="@{/cart/add}">
							<input type="hidden" name="productId" th:value="${product.productId}">
							<button class="btn btn-primary">
								<i class="fa-solid fa-cart-arrow-down"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<nav class="d-flex justify-content-center">
		<ul class="pagination"
		    th:with="
                orderParam=${productListPaginated.sort.iterator().hasNext() ? productListPaginated.sort.iterator().next : null}">
			<li class="page-item"
			    th:classappend="${!productListPaginated.hasPrevious()} ? 'disabled'"
			>
				<a class="page-link"
				   th:href="@{*{urlRootPath}(page=${productListPaginated.number} - 1)}"
				   th:text="#{products.previous}"
				></a>
			</li>
			<li class="page-item"
			    th:each="pageNumber: ${#numbers.sequence(0, productListPaginated.totalPages - 1)}"
			    th:classappend="${pageNumber == productListPaginated.number ? 'active' : ''}"
			>
				<a class="page-link"
				   th:href="@{*{urlRootPath}(page=${pageNumber})}"
				   th:text="${pageNumber + 1}"></a>
			</li>
			<li class="page-item"
			    th:classappend="${!productListPaginated.hasNext()} ? 'disabled'"
			>
				<a class="page-link"
				   th:href="@{*{urlRootPath}(page=${productListPaginated.number} + 1)}"
				   th:text="#{products.next}"
				></a>
			</li>
		</ul>
	</nav>





<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
	Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Understood</button>
			</div>
		</div>
	</div>
</div>


</body>
</html>