<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="en">
<head th:replace="fragments/layout :: head(#{product.create.title})"></head>


<body>
<div th:replace="fragments/layout :: navbar"></div>
<h3 th:text="#{product.create.title}"></h3>
<form method="post" th:object="${productDto}" th:action="@{/product}">

	<div class="mb-3">
		<ul class="error-block" th:if="${#fields.hasErrors()}">
			<li th:each="error: ${#fields.errors()}" th:text="${error}"></li>
		</ul>
	</div>

	<div class="mb-3">
		<label th:text="#{product.create.name}"></label>
		<input class="form-control" type="text" th:placeholder="#{product.create.write.name}" th:field="*{name}" th:errorclass="hasError">
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="hasError"></span>
	</div>

	<div class="mb-3">
		<label th:text="#{product.create.quantity}"></label>
		<input class="form-control" type="number" th:placeholder="#{product.create.write.quantity}"
		       th:field="*{quantity}" th:errorclass="hasError">
		<span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" th:errorclass="hasError"></span>
	</div>


	<div class="mb-3">
		<label th:text="#{product.create.price}"></label>
		<input class="form-control" type="number" th:placeholder="#{product.create.write.price}"
		       th:field="*{price}" th:errorclass="hasError">
		<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="hasError"></span>
	</div>


	<label th:text="#{product.select.productCategory}"></label>
	<select class="form-select" aria-label="Default select example" th:field="*{productCategoryName}">
		<option th:value="#{product.create.select.option}"></option>
		<option th:each="productCategory : ${productCategoryList}" th:value="${productCategory.name}"
		        th:text="${productCategory.name}"></option>
	</select>

	<label th:text="#{product.select.operationStation}"></label>
	<select class="form-select" aria-label="Default select example" th:field="*{operationStationName}">
		<option th:value="#{product.create.select.option}"></option>
		<option th:each="operationStation : ${operationStationsList}" th:value="${operationStation.name}"
		        th:text="${operationStation.name}"></option>
	</select>

	<label th:text="#{product.select.productStatus}"></label>
	<select class="form-select" aria-label="Default select example" th:field="*{productStatusName}">
		<option th:value="#{product.create.select.option}"></option>
		<option th:each="productStatus : ${productStatusList}" th:value="${productStatus.name}"
		        th:text="${productStatus.name}"></option>
	</select>


	<div class="mb-3">
		<label th:text="#{product.create.description}"></label>
		<textarea class="form-control"
		          type="text"
		          th:placeholder="#{product.create.write.description}"
		          th:field="*{description}" th:errorclass="hasError"> </textarea>
		<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:errorclass="hasError"></span>
	</div>


	<div class="mb-3">
		<button class="btn btn-primary" type="submit" th:text="#{product.create.button.add}"></button>
	</div>
</form>
<div th:text="${message}"></div>

</body>
